@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-box h2 {
  font-family: Inter;
  font-size: 1.9rem;
  transform: scaleY(0.8);
  letter-spacing: 4px;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.login-box p {
  font-family: Roboto;
  font-size: 0.8rem;
}

.paraupper {
  padding-bottom: 24px;
}

.parabott {
  padding: 10px 0px;
}

.login-box input {
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  padding: 5px;
}

.login-box input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Roboto;
}

.login-box input[type="button"] {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-size: large;
  letter-spacing: 3px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.login-box input[type="button"]:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.Extra_height {
  height: 50px;
  width: 100%;
}
