.Container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.img1:hover {
  transform: scale(1.05);
}

.Shop-hydration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 60px;
}

.Shop-hydration-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-ing-img {
  height: 30vh;
}


.Shop-hydration  div .img1{
  height: 50vh;
}