.footer {
  width: 100%;
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  text-align: left;
}

.top-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  min-width: 200px;
  padding: 20px;
}

.about-section {
  max-width: 280px;
  
}

.footer h2 {
  letter-spacing: 0.1rem;
  font-weight: lighter;
  font-size: 1.7rem;
}

.Subscribe-btn {
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 35px;
  font-size: 1.4rem;
  border: 1px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section ul {
  list-style: none;
  display: grid;
  gap: 20%;
  font-weight: lighter;
  font-size: 1.24rem;
  letter-spacing: 0.05rem;
}

.section ul li:hover {
  color: grey;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.about-section ul {
  display: flex;
  gap: 20px;
}

.footer p {
  text-transform: none;
  font-family: Inter;
  transform: scaleY(0.9);
  color: rgb(146, 144, 144);
}

ion-icon {
  font-size: 1.4rem;
}

.footer input {
  padding: 1% 2%;
}
