@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.hero {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 95vh;
  width: auto;
  text-align: left;
  color: white;
  font-family: Anton, sans-serif;
  padding: 150px 50px 0px 50px;
}

.explore-button {
  font-family: Inter;
  width: fit-content;
  padding: 12px 45px;
  margin-top: 20px;
  font-size: 1.5rem;
  background-color: #ffffff;
  border: 0.9px solid #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.explore-button:hover {
  background: transparent;
  border: 0.9px solid white;
  color: white;
}

.p {
  padding-top: 40px;
  font-family: Inter;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.h2 {
  padding-top: 10px;
  font-size: 2.5rem;
  display: inline-block;
  letter-spacing: 1px;
}

.missing {
  height: 50px;
  width: 200px;
  position: fixed; /* fixed to viewport */
  top: 50%; /* push down to middle */
  right: -13.4%; /* push right to middle */
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0px 0pc 6px 6px;
  text-align: center;
  align-content: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
