@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  width: 100vw;
}
.hero {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;

  justify-content: center;
  height: 95vh;
  width: auto;
  text-align: left;
  color: white;
  font-family: Anton, sans-serif;
  padding: 150px 50px 0px 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Corrected from 'left' */

  height: 95vh;
  width: 100vw; /* Change from auto to 100% */
  box-sizing: border-box;

  /* Add a background image here to match your screenshot */
}

.explore-button {
  font-family: Inter;
  width: fit-content;
  padding: 12px 45px;
  margin-top: 20px;
  font-size: 1.5rem;
  background-color: #ffffff;
  border: 0.9px solid #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.explore-button:hover {
  background: transparent;
  border: 0.9px solid white;
  color: white;
}

.p {
  padding-top: 40px;
  font-family: Inter;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.h2 {
  padding-top: 10px;
  font-size: 2.5rem;
  display: inline-block;
  letter-spacing: 1px;
}

@media (width <= 625px) {
  .hero {
    align-items: center;
    text-align: center;
  }
  .explore-button {
    padding: 12px 35px;

    font-size: 1.2rem;
  }

  .h2 {
    font-size: 2.1rem;
  }

  .p {
    font-weight: 400;
  }
}
