@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.Hydration {
  width: 95%;
  margin: auto;
  color: black;
  text-align: center;
  box-sizing: border-box;
 
  padding-bottom: 30px;
}

.title {
  font-family: Inter, sans-serif;
  font-size: 7.3rem;
  letter-spacing: 1.3rem;
  font-weight: 380;
  transform: scaleY(0.76) scaleX(1.2);
  display: inline-block;
}

.product_cart {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 15px;
  position: relative;
  top: -39px;
}

.Shop-Hydration {
  width: 100%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.Shop-Hydration div img {
  height: 60vh;
  width: auto;
}
.Shop-Hydration div img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.shop-hydration-btn {
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 35px;
  font-size: 1.4rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Shop-Hydration div a {
  display: inline-block;
  transform: scaleY(0.8);
  line-height: 1.25rem;
  letter-spacing: 2px;
}

.shop-hydration-btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

.title {
  line-height: 6.2rem;
}

