@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.Hydration {
  margin: auto;
  color: black;
  text-align: center;
  padding-top: 7%;
  width: 100%;
  max-width: 100%;
}

.title {
  width: 100%;
  overflow-x: clip;
  text-align: center;
}

.title {
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: clamp(2.5rem, 7vw, 9rem);
  letter-spacing: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  transform: scaleX(1.7);
  padding-bottom: 10px;
}

.product_cart {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 15px;
  position: relative;
  top: -39px;
  width: 100%;
}

.Shop-Hydration {
  width: 100%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.Shop-Hydration div img {
  height: 50vh;
  width: auto;
}
.Shop-Hydration div img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.shop-hydration-btn {
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 35px;
  font-size: 1.4rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Shop-Hydration div a {
  display: inline-block;
  transform: scaleY(0.8);
  line-height: 1.25rem;
  letter-spacing: 2px;
}

.shop-hydration-btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

.title {
  line-height: 6rem;
}

@media (width <= 700px) {
  .title {
    letter-spacing: 0.4rem;
    font-size: 7.7vw;
    font-weight: 400;
    transform: scaleX(1.4);
    line-height: 2rem;
    padding-bottom: 20px;
  }

  .Shop-Hydration div img {
    width: 90vw;
    height: auto;
  }
}