@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.product-cardRA {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  min-width: 150px;
  width: 12%;
  font-family: Inter, sans-serif;
}

.product-image-containerRA {
  margin-bottom: 5px;
}

.product-imageRA {
  height: 40vh; /* Keeps all bottles the same height */
  object-fit: contain;
  transform: scaleY(0.88);
}

.product-titleRA {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-packRA {
  font-size: 0.9rem;
  color: #333;
  font-weight: 400;
  margin: 5px 0 10px 0;
}

.learn-more-btn {
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.6rem;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  width: fit-content;
}

.learn-more-btn:hover {
  background-color: black;
  color: white;
}
