*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures padding doesn't add to width */
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* This is the "nuclear option" to hide the side scroll */
  position: relative;
}


